In [1]:
#Import dependencies

import pandas as pd
from sqlalchemy import create_engine
import countries_config as cc

ModuleNotFoundError: No module named 'countries_config'

In [ ]:
#Create file name variables

money_sent_file = "API_BX.TRF.PWKR.CD_DS2_en_csv_v2_41308.csv"
countries = "countries.csv"

In [ ]:
#Read in CSVs, rename column

money_df = pd.read_csv(money_sent_file)
countries_df = pd.read_csv(countries)
money_df.rename(columns={"Country Name":"Country"}, inplace=True)

In [ ]:
#Drop unnecessary columns
money_df.drop(columns = ["Country Code", "Indicator Name", "Indicator Code"], inplace=True)
money_df.head()

In [2]:
#Reset index, select only data since 2008
money_df.set_index("Country", inplace=True)
money_df = money_df.iloc[:,-11:]
money_df.head()

NameError: name 'money_df' is not defined

In [3]:
#Convert data into floats to allow addition
for col in money_df.columns:
    money_df[col] = money_df[col].str.replace("$","")
    money_df[col] = money_df[col].str.replace(",","")
    money_df[col] = money_df[col].str.replace("-","")
    money_df[col] = money_df[col].str.replace(")","")
    money_df[col] = money_df[col].astype(float)

NameError: name 'money_df' is not defined

In [4]:
#Create a total column and sum the rows
money_df.loc[:,'Total'] = money_df.sum(axis=1)

NameError: name 'money_df' is not defined

In [5]:
#Fix County column to remove spaces in strings
countries_df["Country"] = countries_df["Country"].str.replace(" ","")
countries_df.set_index("Country", inplace=True)

NameError: name 'countries_df' is not defined

In [6]:
countries_df.head()

NameError: name 'countries_df' is not defined

In [7]:
#Join Dataframes, select years
joined_df = countries_df.merge(money_df,right_index=True, left_index=True, how="inner")
joined_df_final = joined_df.iloc[:,-11:]

NameError: name 'countries_df' is not defined

In [37]:
#Add back in Region, Population, and GDP/capita
joined_df_final = joined_df_final.merge(joined_df[["Region", "Population", "GDP ($ per capita)"]], right_index=True, left_index=True)

In [35]:
#Rename column to conform with SQL column requirements
joined_df_final.rename(columns= {"GDP ($ per capita)":"GDP/capita"},inplace=True)

In [32]:
#Create connection to engine
engine = create_engine(
    f'postgresql+psycopg2://postgres:{cc.password}@localhost/{cc.tablename}')

In [36]:
#Send to SQL
joined_df_final.to_sql("countries", engine, if_exists="replace")