### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df= pd.read_csv(purchase_data)

FileNotFoundError: [Errno 2] File b'Resources/purchase_data.csv' does not exist: b'Resources/purchase_data.csv'

In [ ]:
#Extra Shit to help me complete this homework
print(purchase_data_df["Purchase ID"].max())
print(round(purchase_data_df["Price"].mean()))

## Player Count

* Display the total number of players

In [3]:
purchase_data_df.count()

NameError: name 'purchase_data_df' is not defined

In [4]:
purchase_data_df.head()

NameError: name 'purchase_data_df' is not defined

In [5]:
player_data_df= purchase_data_df.drop_duplicates(subset="SN")
player_data_df['Gender'].count()
total_players= player_data_df['Gender'].count()
total_players

NameError: name 'purchase_data_df' is not defined

In [6]:
players_table=pd.DataFrame({"Total Players":[total_players]})
players_table

NameError: name 'total_players' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [377]:
Unique_Items = purchase_data_df.drop_duplicates(subset="Item ID")
x = Unique_Items["Item ID"].count()

average_price = player_data_df["Price"].mean()
total_purchases = purchase_data_df["Purchase ID"].count()
total_Revenue = purchase_data_df["Price"].sum()

print(x)
print (average_price)
print(total_purchases)
print(total_Revenue)
pd.options.display.float_format='${:,.2f}'.format
dollars_price=pd.DataFrame(index=["Average Price"],columns=['Price'])

183
3.0705729166666647
780
2379.77

In [378]:
purchase_analysis=pd.DataFrame({"Number of Unique Items":[x], "Average Price":[average_price], "Number of Purchases":[total_purchases],"Total Revenue":[total_Revenue]})
purchase_analysis.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.07                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [262]:
gender_count= player_data_df.groupby('Gender').count()['Age']
gender_percentage= (gender_count/total_players*100)
gender_percentage=gender_percentage.round(2)
gender_demographics_df=pd.DataFrame({"Total Count":gender_count, "Percentage of Players": gender_percentage})
gender_demographics_df.sort_values('Total Count', ascending=False)

                       Total Count  Percentage of Players
Gender
Male                           484                 $84.03
Female                          81                 $14.06
Other / Non-Disclosed           11                  $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [379]:
purchase_count=purchase_data_df.groupby('Gender').count()['Purchase ID']

pc=purchase_count
pc

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [380]:
total_purchase=purchase_data_df.groupby('Gender').sum()['Price']
tp=total_purchase
tp

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [381]:
avg_purchase_price=tp/pc
app=avg_purchase_price.round(2)
app

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
dtype: float64

In [382]:
average_total_per_person= tp/gender_count
atpp=average_total_per_person.round(2)
atpp

Gender
Female                  $4.47
Male                    $4.07
Other / Non-Disclosed   $4.56
dtype: float64

In [383]:
purchase_analysis=pd.DataFrame({"Purchase Count":pc, "Average Purchase Price":app,"Total Purchase Value":tp, "Average Total Purchases per Person":atpp,})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchases per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [384]:
acount= player_data_df.groupby('Age').count()['SN']
age_percentage= age_count/total_players*100
apercent=age_percentage.round(2)

In [385]:
bins= [0,9,14,19,24,29,34,39,44]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]
pd.cut(player_data_df['Age'], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [386]:
player_data_df["Age Bin"]=pd.cut(player_data_df["Age"], bins, labels=group_labels)
#player_data_df

C:\Users\Twilight Navigator\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [387]:
age_count=player_data_df.groupby('Age Bin')['SN'].count()
age_count

Age Bin
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       11
Name: SN, dtype: int64

In [388]:
player_data_df.groupby('Age Bin')['SN'].count()

Age Bin
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       11
Name: SN, dtype: int64

In [273]:
age_demo=pd.DataFrame({"Total Count":age_count,"Percentage of Players":apercent})
age_demo

         Total Count  Percentage of Players
Age Bin
<10               17                  $2.95
10-14             22                  $3.82
15-19            107                 $18.58
20-24            258                 $44.79
25-29             77                 $13.37
30-34             52                  $9.03
35-39             31                  $5.38
40+               11                  $1.91

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [389]:
bins= [0,9,14,19,24,29,34,39,44]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]
pd.cut(purchase_data_df['Age'], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [1]:
purchase_data_df["Age Bin2"]=pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df

NameError: name 'pd' is not defined

In [396]:
paPC=purchase_data_df.groupby('Age Bin2')['Purchase ID'].count()

In [397]:
paAPP=purchase_data_df.groupby('Age Bin2')['Price'].sum()
paAPP= (paAPP/paPC).round(2)
#paAPP

In [398]:
paTPV=purchase_data_df.groupby('Age Bin2')['Price'].sum()
#paTPV

In [399]:
paATPPP=(paTPV/age_count).round(2)
#paATPPP

In [400]:
purchasing_analysis=pd.DataFrame({"Purchase Count":paPC, "Average Purchase Price":paAPP, "Total Purchase Value":paTPV, "Avg Total Purchase per Person":paATPPP})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bin2,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,12,$3.04,$36.54,$3.32

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [401]:
tsPC=purchase_data_df.groupby('SN')['Purchase ID'].count()
#tsPC

In [402]:
tsAPP=purchase_data_df.groupby('SN')['Price'].sum()
tsAPP= (tsAPP/tsPC).round(2)
#tsAPP

In [403]:
tsTPV=purchase_data_df.groupby('SN')['Price'].sum()
#tsTPV

In [404]:
top_spenders=pd.DataFrame({"Purchase Count":tsPC, "Average Purchase Price":tsAPP, "Total Purchase Value":tsTPV})
top_spenders.sort_values('Total Purchase Value', ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [405]:
mp_df=purchase_data_df.groupby(['Item ID','Item Name'])['Gender'].count()
mp_df.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Gender, dtype: int64

In [406]:
mpTPV=purchase_data_df.groupby(['Item ID','Item Name'])['Price'].sum()
mpTPV.tail(7)

Item ID  Item Name
177      Winterthorn, Defender of Shifting Worlds        $4.16
178      Oathbreaker, Last Hope of the Breaking Storm   $50.76
179      Wolf, Promise of the Moonwalker                $26.88
180      Stormcaller                                     $3.36
181      Reaper's Toll                                   $8.30
182      Toothpick                                      $12.09
183      Dragon's Greatsword                             $3.27
Name: Price, dtype: float64

In [407]:
mpP=purchase_data_df.groupby(['Item ID','Item Name'])['Price'].mean()
mpP.head(22)

Item ID  Item Name
0        Splinter                            $1.28
1        Crucifer                            $3.26
2        Verdict                             $2.48
3        Phantomlight                        $2.49
4        Bloodlord's Fetish                  $1.70
5        Putrid Fan                          $4.08
6        Rusty Skull                         $3.70
7        Thorn, Satchel of Dark Souls        $1.33
8        Purgatory, Gem of Regret            $3.93
9        Thorn, Conqueror of the Corrupted   $2.73
10       Sleepwalker                         $1.79
11       Brimstone                           $3.65
12       Dawne                               $1.02
13       Serenity                            $1.41
14       Possessed Core                      $2.61
15       Soul Infused Crystal                $2.96
16       Restored Bauble                     $3.55
17       Lazarus, Terror of the Earth        $1.70
18       Torchlight, Bond of Storms          $4.65
19       Pursuit, Cudgel of Necromancy       $1.02
20       Netherbane                          $3.27
21       Souleater                           $1.10
Name: Price, dtype: float64

In [408]:
mpP.rename(columns = {'Price':'Item Price'}, inplace = False)
mpTPV.rename(columns = {'Total Purchase Value':'Price'}, inplace = False)
mpP.head()

Item ID  Item Name
0        Splinter             $1.28
1        Crucifer             $3.26
2        Verdict              $2.48
3        Phantomlight         $2.49
4        Bloodlord's Fetish   $1.70
Name: Price, dtype: float64

In [409]:
spender_df=pd.concat([mp_df,mpP,mpTPV],axis=1).tail(7)
spender_df.sort_values('Gender', ascending= False)
spender_df

                                                      Gender  Price  Price
Item ID Item Name
177     Winterthorn, Defender of Shifting Worlds           2  $2.08  $4.16
178     Oathbreaker, Last Hope of the Breaking Storm      12  $4.23 $50.76
179     Wolf, Promise of the Moonwalker                    6  $4.48 $26.88
180     Stormcaller                                        1  $3.36  $3.36
181     Reaper's Toll                                      5  $1.66  $8.30
182     Toothpick                                          3  $4.03 $12.09
183     Dragon's Greatsword                                3  $1.09  $3.27

In [410]:
popular_table=pd.DataFrame({"Purchase Count":mp_df, "Item Price":mpP, "Total Purchase Value":mpTPV})
popular_table.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [369]:
most_prof=pd.concat([mp_df,mpP,mpTPV],axis=1).tail(7)

In [370]:
new_table=pd.DataFrame({"Purchase Count":mp_df, "Item Price":mpP, "Total Purchase Value":mpTPV})
new_table.sort_values('Total Purchase Value', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80